.contact {
    background-image: url("../img/background/contact-mobile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 24px 10px;

    &__form {
        @include media(medium) {

            height: 90%;
            margin-top: 5%;
        }
        gap: 10%;
        h2 {
            @include media(medium) {
                font-size: 36px;
        
            }

            text-align: center;
            font-size: 24px;
            color: white;
            font-family: "Poppins-Black";
        }

        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 90%;
        max-height: 100%;
        height: 100%;
        margin: auto;
        background: linear-gradient(
            178.57deg,
            rgba(107, 106, 158, 0.92) 1.22%,
            rgba(107, 106, 158, 0.857253) 10.73%,
            rgba(107, 106, 158, 0) 140.62%
        );
    }
    &__form-block {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            @include media(small) {
                max-width: 60%;
                width: 60%;
            }
@include media(medium){
    font-size: 24px;
}

            max-width: 60%;
            width: 60%;
            border: 0;
            outline: 0;
            background-color: transparent;
            color: white;
            border-bottom: 2px solid white;
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.17);
            
        }

        textarea {
            @include media(small) {
                max-width: 60%;
                width: 60%;
            }
            max-width: 60%;
            width: 60%;
            border: 0;
            outline: 0;
            background-color: transparent;
            border-bottom: 2px solid white;

            height: 19px;
            color: white;
            resize: none;
            font-size: 16px;
            @include media(medium) {
                font-size: 24px;
            }
        }
    } //fin contact

    ::placeholder {
        color: white;
        background-color: transparent;
        font-family: "Poppins-regular";
    }
    img {
        margin-right: 10px;
    }
    &__button {
    }
    &__form-button {
        @include media(medium){
            width: 262px;
            height: 62px;
            font-size: 24px;
            line-height: 60px;
        }
        text-align: center;
        display: block;
        width: 132px;
        height: 37px;
        color: #716da6;
        font-size: 14px;
        margin: 10px auto;
        border: 1px solid #716da6;
        border-radius: 10px;
        text-decoration: none;
        font-family: "roboto-Medium";
        line-height: 38px;
    }
}
