.def {
    @include media(small) {
        padding: 167px;
    }
    @include media(large) {
        padding: 78px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    background-color: #716da6;
    color: white;
    text-align: center;
    padding: 24px;

    h2 {
        @include media(medium) {
            font-size: 36px;
        }

        @include media(large) {
           margin-bottom: 48px;
        }

        font-size: 17px;
        font-family: "Poppins-Medium";
        margin-bottom: 15px;
    }
    p {
        @include media(medium) {
            font-size: 24px;
        }
        @include media(large) {
            width: 50%;
            text-align: center;
          
        }

        font-family: "roboto-Regular";
        font-size: 16px;
        line-height: 1.5;
    }
}
