.def{
    background-color: #716DA6;
    color: white;
    text-align: center;
    padding:1%;
    max-height: 342px;

    h2{
        font-size: 17px;
        font-family: "Poppins-Medium";
    }
    p{
        font-family: "roboto-Regular";
        font-size: 16px;
        line-height: 40px;
    }
}