.home {
    @include media(small) {
        padding: 0;
    }

    @include media(large) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    background-color: #716da6;
    background-image: url("../img/background/home.png");
    background-size: cover;


    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 60% 2% 0;

    &__left-content {
        @include media(small) {
            margin-bottom: 0;
        }
        @include media(large) {
            width: 50%;
        }

        margin-bottom: 50px;
        line-height: 50px;
        h1 {
            @include media(medium) {
                font-size: 72px;
                line-height: 80px;
            }

            font-size: 36px;
            font-family: "Poppins-Bold";
            margin-bottom: 25px;
        }
        p {
            @include media(small) {
                font-size: 24px;
            }

            font-size: 18px;
            font-family: "Poppins-Medium";
            margin-bottom: 55px;
            margin-top: 60px;
        }
    }
    &__btn {
        @include media(medium) {
            max-width: 201px;
            max-height: 63px;
        }
        @include media(large) {
            max-width: 201px;
            max-height: 63px;
        }

        color: white;
        display: block;
        font-size: 24px;
        max-width: 169px;
        max-height: 53px;
        margin: 25px auto;
        border: 3px solid #ffffff;
        border-radius: 10px;
        text-decoration: none;
        font-family: "Poppins-Regular";
        a {
        }
    }

    //img
    &__right-content {
        @include media(large) {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            background-color: #dcdcdc;
            width: 50%;
            height: 100%;
            img {
                height: 90%;
            }
        }
        display: none;
    }
}
