.presentation {
    @include media(small) {
        font-size: 24px;
    }
    @include media(large) {
        flex-direction: row-reverse;
        padding: 5%;
        line-height: 1.5;
        justify-content: start;
        align-items: center;
    }
    background-color: #f0f0f6;
    display: flex;
    flex-direction: column-reverse;
    color: #4f4f50;
    padding: 24px 10px;
    line-height: 1.5;
    font-family: "roboto-regular";
    &__txt-marg {
        margin-top: 56px;
    }
    &__txt {
        /* width: 50%; */
        h2 {
            display: none;
        }
    }
    &__txt > :nth-child(2) {
        @include media(large) {
            margin-bottom: 48px;
        }

        font-family: "Poppins-Black";
        color: #716da6;
        margin-bottom: 9px;
    }
    &__btn {
        @include media(small) {
            justify-content: center;
            gap: 15px;
        }
        @include media(large) {
            justify-content: flex-start;
            gap: 46px;
        }
        display: flex;
        justify-content: space-around;

        a {
            &:hover{
                transition: background 0.3s, color 0.3s;
                background-color: #716da6;
                color: white;
            }
            @include media(small) {
                margin: 0;
                margin-top: 5px;
            }
            @include media(medium) {
                width: 262px;
                height: 62px;
                font-size: 24px;
                line-height: 60px;
            }
            @include media(large) {
                margin-top: 48px;
            }

            text-align: center;
            display: block;
            width: 132px;
            height: 37px;
            color: #716da6;
            font-size: 14px;
            margin: 10px auto;
            border: 1px solid #716da6;
            border-radius: 10px;
            text-decoration: none;
            font-family: "roboto-Medium";
            line-height: 38px;
        }
    }

    &__img {
        @include media(medium) {
            height: 343px;
            width: auto;
        }
        @include media(large) {
            height: 418px;
            margin: 0;
            margin-right: 215px;
        }

        margin: auto;
        margin-bottom: 30px;
    }
}
