

  

.presentation {
@include media(small){
    font-size: 24px;
}
    
    background-color: #f0f0f6;
    display: flex;
    flex-direction: column-reverse;
    color: #4f4f50;
    padding: 24px 10px;
    line-height: 1.5;
    font-family: "roboto-regular";

    &__txt {
        h2 {
            display: none;
        }
    }
    &__txt > :nth-child(2) {
        font-family: "Poppins-Black";
        color: #716da6;
        margin-bottom: 9px;
    }
     &__btn {
         
        @include media(small) {
            justify-content: center;
            gap:15px;
        }
 
        display: flex;
        justify-content: space-around;

        a {
            @include media(small) {
                margin: 0;
                margin-top: 5px;
    
            }
            @include media(medium) {
                width: 262px;
                height: 62px;
                font-size: 24px;
                line-height: 60px;
            }
    
            text-align: center;
            display: block;
            width: 132px;
            height: 37px;
            color: #716da6;
            font-size: 14px;
            margin: 10px auto;
            border: 1px solid #716da6;
            border-radius: 10px;
            text-decoration: none;
            font-family: "roboto-Medium";
            line-height: 38px;
        }
    }

    &__img {
        margin: auto;
        margin-bottom: 30px;
        height: 343px;
        width: auto;
    }
}
