.service {
    @include media(large){
        padding: 80git stapx 10px;
    }
    padding: 24px 10px;
    background-color: #f0f0f6;
    text-align: center;
    h3,
    h2 {
        text-align: center;
        color: #716da6;
        font-family: "Poppins-Black";
    }
    h2 {
        @include media(medium) {
            font-size: 36px;
        }

        @include media(medium) {
            margin-bottom: 64px;
        }
        font-size: 19px;
        margin-bottom: 37px;
    }
    h3 {
        @include media(medium) {
            font-size: 24px;
        }
        margin-bottom: 23px;
        font-size: 18px;
    }
    p {
        @include media(medium) {
            font-size: 18px;
        }

        font-family: "roboto-Regular";
        line-height: 34px;
        color: #454545;
    }
    &__content{
        @include media(large){
            display: flex;
            flex-direction: row;
            justify-content: space-around;
    }
    }
    &__content-box {
        @include media(small) {
            max-width: 50%;
    
        @include media(large) {
            max-width: calc(100% / 3);
            width: 25%;
        }
        display: flex;
        flex-direction: column;
        max-width: 95%;
        background-color: white;
        border-radius: 5px;
        margin: auto;
        text-align: center;
        padding: 2%;
        margin-bottom: 51px;
        & * {
            order: 2;
        }

        img {
            margin: auto;
            order: 1;
            margin-bottom: 23px;
        }
    }
}
}