.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4f4f50;
    padding: 24px 10px;

    &__nav {
        ul {
@include media(small){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

            line-height: 70px;
            margin-bottom: 10px;

            a {
                @include media(medium){
                    font-size: 24px;
                }
                text-decoration: none;
                color: #4f4f50;
                font-size: 18px;
                font-family: "Poppins-SemiBold";
            }
        }
    }
    &__slogan {
        @include media(medium){
            font-size: 26px;
        }
        font-size: 20px;
        font-family: "Poppins-SemiBold";
    }

    &__social {
        @include media(small){
            width: 50%;
        }
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
        color: #4f4f50;


        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;
            height: 36px;
            border-radius: 5px;
            text-align: center;
            background: #4f4f50;
        }
    }
    &__copy {
        @include media(medium){
            font-size: 16px;
        }
        font-size: 14px;
        font-family: "Poppins-Bold";
        text-align: center;
    }
}
