.header {
    @include media(large) {
        justify-content: space-between;
        flex-direction: row;
    }
    position: fixed;
    background-color: #716da6d3;
    display: flex;
    flex-direction: column;
    width: 100vw;
   

    &__logo {
        display: none;
        flex-direction: column;
        color: white;
        font-size: 24px;
        text-align: center;

        img {
            width: 49px;
         margin: auto;
        }
    }
    &__burger{
        width: 49px;
        margin-top: 10px;
    }



    &__menu-open{
        background-color: #716da6;
        height: 100vh;
        .navbar, .navbar__list__social, .header__logo{
            display: flex;
        }
    }
}


