.header {
    @include media(medium) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    @include media(large) {
        height: 69px;
    }
z-index: 2;
    position: fixed;
    background-image: url("../img/background/home.png");

    display: flex;
    flex-direction: column;
    width: 100vw;

    &__logo {
        @include media(medium) {
            display: unset;
            width: 20%;
            padding-top: 5px;
        }
        @include media(large) {
            img{
                width: 70px;
                height: auto;
               margin: auto;
            }
        }

        display: none;
        flex-direction: column;
        color: white;
        font-size: 24px;
        text-align: center;

        img {
            margin: auto;
        }
    }
    &__burger {
        @include media(medium) {
            display: none;
        }
        width: 49px;
        margin-left: auto;
        margin-right: 5px;
    }

    &__menu-open {
        @include media(medium) {
          background-color: transparent;
          height: auto;
         
        }
        background-color: #716da6;
        height: 100vh;
        display: flex;
        .navbar,
        .navbar__list__social,
        .header__logo {
            @include media(medium){
                display: block;
            }
            display: flex;
        }
        .navbar__list__social{
            @include media(medium){
                display: flex;
            }
        }

    }
}
