.navbar {
    @include media(medium) {
        display: unset;
        flex-direction: row;
        width: 30%;
        margin: auto;
        margin-left: 10%;
    }
    display: none;
    flex-direction: column;

    &__list {
        @include media(medium) {
            flex-direction: row;
            margin-top: 0;
            justify-content: center;
            gap: 30px;
        }
        display: flex;
        flex-direction: column;
        font-size: 24px;
        font-family: "Poppins-Regular";
        margin: auto;
        margin-top: 20%;
    }
    &__item {
        @include media(medium) {
            margin: 0;
        }
        margin-bottom: 30px;
    }
    &__link {
        line-height: 60px;
        text-decoration: none;
        color: white;
       img {
           display: block;
       }
    }
    
}
.navbar__list__social {
    @include media(medium) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        gap: 30px;
        width: 20%;
        margin: auto;
    }

    display: none;
    justify-content: space-around;
  
    width: 80%;
    margin: auto;
}
