/* Pour appellez la mixine :
@include media(small){}


*/

$breakpoints:(
    'small':(
        min-width: 576px
    ),

    'medium':(
        min-width: 992px
    ),

    'large':(
        min-width: 1400px
    )
);

@mixin media($name) {
    @if map-has-key($breakpoints, $name) {
      @media #{inspect(map-get($breakpoints, $name))} {
        @content;
      }
    }
  }
