@font-face {
    font-family: "roboto";
    src: url(../font/Roboto-Medium);
}

@font-face {
    font-family: "Poppins-Black";
    src: url(../font/Poppins-Black.ttf);
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(../font/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../font/Poppins-SemiBold.ttf);
}