@font-face {
    font-family: "roboto-Medium";
    src: url(../font/Roboto-Medium.ttf);
}
@font-face {
    font-family: "roboto-Regular";
    src: url(../font/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Black";
    src: url(../font/Poppins-Black.ttf);
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../font/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../font/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../font/Poppins-SemiBold.ttf);
}